.home-container {
}
.home-products-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-products-container h1 {
  border-bottom: 1px solid black;
}
.home-products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
